{% extends "layout.html" %}

{% block content %}
<!-- <h1>Home page</h1> -->
<section class="header">
    <div class="container-fluid">
        <!-- <div class="bg-img-home"> -->
            <!-- <img src="../static/bg-img2.png" class="bg-home img-fluid" alt=""> -->
        <!-- </div> -->
        <video autoplay loop muted plays-inline class="back-video">
            <source src="../static/wavesound.mp4" type="video/mp4">
        </video>
        <div class="content">
            <h1>EchoEcho</h1>
            <a href="#">Download</a>
        </div>
    </div>
</section>
<section class="detail">
    <div class="container">
        <div class="about">
            <h1>ABOUT ECHOECHO</h1>
            <p>It's an app about noise cancellation.</p>
        </div>
        <div class="column">
            <div class="box">
                <div class="imgBx">
                    <img src="../static/mic.png">
                </div>
                <div class="content_detail">
                    <h2>MICROPHONE PAGE</h2>
                    <p>There is a button for noise canceling and a section of the graph showing real-time values ​​when the noise canceling button is pressed.
                        The graph will change from being a histogram of itself to a histogram when noise is eliminated.
                        You can see the change from the graph and you can also listen to your own voice whether it's really better when the noise is cancelled.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="detail">
    <div class="container">
        <div class="column">
            <div class="box">
                <div class="imgBx">
                    <img src="../static/SP.png">
                </div>
                <div class="content_detail">
                    <h2>SOUNDPAD PAGE</h2>
                    <p>Initially, there will be default sounds within the app, but users can add more sounds as they want and can set hotkeys.
                        that this sound will work when pressing any button Initially, you can choose whether to play the sound for yourself or 
                        play the sound through the microphone for others to hear.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="detail">
    <div class="container">
        <div class="column">
            <div class="box">
                <div class="imgBx">
                    <img src="../static/VC.png">
                </div>
                <div class="content_detail">
                    <h2>VOICECHANGER PAGE</h2>
                    <p>can be pressed to change the sound as specified and adjust various values ​​which can be exported and imported via the website.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="footer">
        <h4>ABOUT US</h4>
        <p>We are third year students from King Mongkut's University of Technology Thonburi. Thank you for all your support.</p>
        <div class="icons">
            <i class="fa fa-facebook"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-linkedin"></i>
        </div>
        <p>Made By Yahoo kongjing</p>
    </div>
</section>

{% endblock %}