{% extends "layout.html" %}

{% block content %}
<h1 class="head_title"><b>SOUND EFFECT</b></h1>
<div class="container">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h2>Sound Effect For You</h2>
          </div>
          <div class="col-sm-6">
            <a href="{{url_for('modal')}}" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Add Sound</span></a>
          </div>
        </div>
      </div>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>
              <span class="custom-checkbox">
                                  <input type="checkbox" id="selectAll">
                                  <label for="selectAll"></label>
                              </span>
            </th>
            <th>No.</th>
            <th>Name Audio</th>
            <th>Duration</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>

          {% for row in audio_files %}
          <tr>
            <td>
              <span class="custom-checkbox">
                                  <input type="checkbox" id="checkbox1" name="options[]" value="1">
                                  <label for="checkbox1"></label>
                              </span>
            </td>
            <td>{{row[0]}}</td>
            <td>{{row[1]}}</td>
            <td>{{row[2]}}</td> 
            <td>
              
                <button class="btn btn-success" id="download-btn-{{ row[0] }}">Download</button>
              
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

</div>
{% endblock %}

{% block script %}
<script>
    console.log("window is loaded");
    const downloadButtons = document.querySelectorAll('[id^="download-btn-"]');
    console.log(downloadButtons);
    downloadButtons.forEach(button => {
        button.addEventListener('click', (event) => {
            const audioIndex = event.target.id.split('-')[2];
            console.log(audioIndex);
            const xhr = new XMLHttpRequest();
            xhr.open('GET', `/download/${audioIndex}`);
            xhr.responseType = 'blob'; // ระบุชนิดข้อมูลที่รับกลับมาเป็น blob
            xhr.onload = () => {
                if (xhr.status === 200) {
                  const responseBlob = xhr.response;
                  const reader = new FileReader();
                  reader.onloadend = () => {
                      const responseText = reader.result;
                      const response = JSON.parse(responseText);
                      const audioName = response.audio_name;
                      const audioSrc = response.audio_src;
                      console.log(audioName);
                      console.log(audioSrc);
                      const a = document.createElement('a');
                      a.href = audioSrc;
                      a.download = audioName;
                      a.click();
                  };
                reader.readAsText(responseBlob);
                }
            };
            xhr.send();
        });
    });
</script>
{% endblock %}